.bg-primary {
    background-color: green !important;
}

.list-group-item {
    background-color: rgb(231, 231, 231);
}

.list-group-item.active {
    background-color: green;
    border-color: green;
}

.sidebar {
    background-color: rgb(231, 231, 231);
}

.table td.urgent{
    color: red !important;

}

nav.custom-navbar{
    color: white;
}

span.navbar-title{
    font-size: 18pt;
}

html, body, .container-fluid, .row{
    height: 100%;
}

.btn-lg.round {
	border-radius: 24px;
    background-color: green;
    color: white;
    border-color: green;
    position: fixed;
    bottom: 10px;
    right: 10px;
}