.bg-primary {
    background-color: green !important;
}

.list-group-item {
    background-color: rgb(231, 231, 231);
}

.list-group-item.active {
    background-color: green;
    border-color: green;
}

.sidebar {
    background-color: rgb(231, 231, 231);
}

.table td.urgent{
    color: red !important;

}

nav.custom-navbar{
    color: white;
}

.user-logo{
    color: white;
    font-size: 1.75rem;
}

html, body, .container-fluid, .row{
    height: 100%;
}

.btn-lg.round {
	border-radius: 24px;
    background-color: green;
    color: white;
    border: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btn-outline-white {
    color: white;
    border-color: white;
}

.white-toggler.navbar-toggler { 
    border-color: white; 
} 
/* Setting the stroke to green using rgb values (0, 128, 0) */ 
  
.white-toggler .navbar-toggler-icon { 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 