.col-lg-4 .list-group-item.active {
    background-color: green;
}

.col-lg-4 .list-group-item {
    background-color: rgb(206, 206, 206);
}

.col-lg-4 {
    background-color: rgb(206, 206, 206);
}

.table td.urgent{
    color: red !important;

}